body{
    font-family: sans-serif;
}
header{
    position: fixed;
    top:0;left:0;
    border-bottom: solid 1px rgba(61, 58, 59,.21);
    width: 100%;
    z-index: 1;
    background-color: #fff;
}
.fixed h1{
    text-align: center;
}
.scroll{
    height: 3px;
    margin-bottom: -2px;
    background-color: #333;
    width: 0%;
}
.text{
    width: 50%;
    background-color: #eee;
    margin: auto;
    padding: 30px;
    margin-top: 200px;
    color: #ccc;
}
